html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

/* APP */
.video-container {
  position: relative;
  width: 1120px;
  height: 630px;
}

.overlay-container {
  border: 1px solid red;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  /* pointer-events: none; */
}

/* Canvas */

.canvas-overlay {
  border: 1px solid green;
}
